@charset "UTF-8";
/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .scss) que se van
 * a compilar en el CSS definitivo: /css/style.css.
 * Si no usas algún módulo, es recomendable que elimines
 * o comentes su inclusión para no tener estilos innecesarios en tu CSS final
 * y optimizar lo máximo posible.
 */
/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * Contenido..................... Esto que lees

 * Variables..................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de SASS

 * Helpers....................... Clases de ayuda

 * Reset......................... Reinicio de valores CSS

 * Fuentes....................... Fuentes que vamos a importar

 * Links......................... Formas y estilos de los links

 * Tablas........................ Estilos de las tablas

 * Botones....................... Estilos de Botones, skins y variantes

 * Elementos..................... Elementos varios como Imagen, HR, etc...

 * Tipografía.................... Encabezados, small, párrafos, listas, etc...

 * Navegación.................... Una navegación, por si quieres usar esta y no la tuya propia

 * Formularios................... Estilos de todos los elementos de formularios y sus variantes

 * Sitio......................... Aquí escribes tus estilos para la web se vea como tu quieres ;)

 * Paginación.................... Estilos básicos para las paginaciones

 * Texturas...................... Badges, cajas y wells

 * Breakpoints................... Importamos breakpoints basados en las variables @bp$

 * Patron........................ Estilos para la guía de patrones
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 *
 * Definimos y configuramos las variables CSS que vamos a utilizar
 *
 */
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/**
 * "Start with the small screen first, 
    then expand until it looks like shit.
    Time to insert a breakpoint!"
 */
/*------------------------------------*\
    $no-mediaquery-class
\*------------------------------------*/
/**
 * Si decides incluir lt-ie9 para dar soporte a navegadores sin estilos
 * esta es la clase que se añadirá a todos los elementos.
 */
/*------------------------------------*\
    $IMAGE-DIR
\*------------------------------------*/
/**
 * Con agregar esta variable a las imágenes declaradas en CSS apañamos:
 */
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * Definimos elementos constantes del layout
 */
/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
 * Definimos las fuentes a utilizar:
 * $basefont para todos los textos inline
 * $altfont para textos alternativos, como citas, intro, etc...
 * $codefont para código
 */
.lato {
  font-family: 'Lato' !important; }

.aleo {
  font-family: 'Aleo'; }

/*------------------------------------*\
    $TAMAÑOS
\*------------------------------------*/
/**
 * Definimos las fuentes a utilizar:
 * $basefont para todos los textos inline
 * $altfont para textos alternativos, como citas, intro, etc...
 * $codefont para código
 */
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Brand stuff
 */
/**
 * Escala de grises
 * A veces no queremos que el negro sea "negro" o el blanco "blanco", puedes cambiarlos.
 */
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
/**
 * Definimos Colores y elementos de popups, mensajes de alerta, etc...
 */
/* Colores sociales -> son los colores corporativos, pero cambiadlos
 * si hace falta. (también podéis añadir más)  ///////////////////////
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
* Centrar y dar un ancho máximo igual a $pagemaxwidth.
*/
/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
/**
// * The ghost, nudged to maintain perfect centering
*/
/**
* Escondemos el texto solo VISUALMENTE
*/
/**
* Escondemos el texto de VISUALMENTE y SCREENREADERS
*/
/**
* Escondemos pero mantenemos layout.
*/
/**
* Visualmente escondido, pero se puede detectar con teclado (focus).
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible; }

/**
* Clear floats.
* http://bit.ly/1e3YaBH
*/
/**
* Gradientes los convertimos en placeholders porque imprime 10 millones de
* líneas inútiles en el CSS
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, body, div, span, object, iframe, h1, .cabecera_texto h2, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
    $FUENTES
\*------------------------------------*/
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
  text-decoration: none;
  color: #344814; }
  a:visited {
    color: #344814; }
  a:hover {
    text-decoration: underline;
    color: #172009; }
  a:focus {
    outline: thin dotted;
    color: #172009; }
  a:hover, a:active {
    outline: 0; }

/*------------------------------------*\
    $ELEMENTOS
\*------------------------------------*/
hr {
  clear: both;
  display: block;
  margin: 3em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid white; }

/*------------------------------------*\
    $ELEMENTOS-IMÁGENES
\*------------------------------------*/
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

.img--rounded {
  border-radius: 8px; }

.img--polaroid {
  padding: 12px;
  background-color: white;
  border: 1px solid white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img--circle {
  border-radius: 100%; }

/*------------------------------------*\
    $ELEMENTOS-FIGURE
\*------------------------------------*/
figure {
  margin-bottom: 1.5em; }
  figure img {
    margin-bottom: 0.375em; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 0.875rem;
    font-style: italic;
    color: gray; }

/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
h1, .cabecera_texto h2,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1.altheader, .cabecera_texto h2.altheader,
  h2.altheader,
  h3.altheader,
  h4.altheader {
    color: gray;
    text-transform: uppercase; }

h3,
h4 {
  font-family: "lato";
  font-weight: lighter; }

h1 small, .cabecera_texto h2 small,
h2 small,
h3 small {
  font-weight: normal;
  display: block;
  color: gray; }

h1, .cabecera_texto h2, .h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2; }

h2, .h2 {
  margin-bottom: 0.5em;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2; }

h3, .h3 {
  margin-bottom: 0.375em;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.3; }

h4, .h4 {
  margin-bottom: 0.25em;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25; }

h5, .h5 {
  margin-bottom: 0.25em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1; }

h6, .h6 {
  margin-bottom: 0.25em;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1; }

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  line-height: 1.5em; }

.intro {
  font-weight: bold; }

small {
  font-size: 12px;
  font-size: 0.75rem;
  color: gray; }

ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 24px; }

li ul,
li ol {
  margin: 0; }

blockquote {
  margin: 0 0 1.5em 0;
  padding-left: 24px;
  border-left: 2px solid white;
  font-family: Georgia, Times, "Times New Roman";
  font-style: normal; }
  blockquote p {
    font-size: 18px;
    font-size: 1.125rem;
    color: gray;
    font-style: italic; }

q {
  quotes: none;
  font-style: italic; }

blockquote p::before,
blockquote p::after,
q:before,
q:after {
  content: ""; }

cite {
  font-style: normal; }

dl,
dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

abbr[title] {
  border-bottom: 1px dotted white;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  background-color: #f0f7e3;
  color: #262626;
  text-decoration: none; }

mark {
  background-color: yellow;
  color: #262626; }

pre,
code,
kbd,
samp {
  font-family: "Courier New", monospace;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 0;
  vertical-align: 1.5em; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/*------------------------------------*\
    $SITIO
\*------------------------------------*/
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  background: white;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f0f7e3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  background-image: url("../../images/fondo_body_papel.png");
  font-family: "lato";
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  color: #262626; }

li {
  list-style: none; }

p {
  font-weight: lighter; }

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.uno {
  width: 100%; }

.dos {
  width: 50%; }

.tres {
  width: 33.333333%; }

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.zona-cliente {
  background-color: #3a2316; }
  .zona-cliente ul {
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 0; }
    @media only screen and (min-width: 50em) {
      .zona-cliente ul {
        width: 550px;
        float: right; } }
  .zona-cliente .grupo_uno {
    width: 80%; }
    .zona-cliente .grupo_uno li {
      float: left;
      width: 50%; }
  .zona-cliente .grupo_dos {
    width: 20%; }
    .zona-cliente .grupo_dos li {
      float: left;
      width: 50%; }
  .zona-cliente .tucesta__link:before {
    content: url(../images/cesta.svg);
    width: 15px;
    display: inline-block;
    margin-right: 5px; }
  .zona-cliente .tucesta__link:hover:before {
    content: url(../images/cesta_bn.svg); }
  .zona-cliente a {
    font-family: "lato";
    display: block;
    padding: 1em 0;
    text-decoration: none;
    text-align: center;
    color: white;
    text-transform: uppercase;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    font-size: 11px;
    font-size: 0.6875rem;
    border-left: 1px solid white; }
    .zona-cliente a:hover {
      background-color: #ffefa3;
      color: #3a2316; }
  .zona-cliente .grupo_uno li:first-of-type a {
    border-left: none; }
    @media only screen and (min-width: 50em) {
      .zona-cliente .grupo_uno li:first-of-type a {
        border-left: 1px solid white; } }
  @media only screen and (min-width: 50em) {
    .zona-cliente .grupo_dos li:last-of-type a {
      border-right: 1px solid white; } }

.menu-principal {
  background-image: url("../images/Melamine-wood-004.png");
  border-top: 1px solid white; }
  .menu-principal .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 1em; }
    @media only screen and (min-width: 37.5em) {
      .menu-principal .nav {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 1em; } }
    @media only screen and (min-width: 50em) {
      .menu-principal .nav {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin: 1em 0; } }
    .menu-principal .nav li {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav li {
          width: auto; } }
    .menu-principal .nav ul {
      padding: 0;
      margin: 0; }
    .menu-principal .nav .iconos {
      margin-top: 1em; }
      .menu-principal .nav .iconos a {
        float: left; }
        .menu-principal .nav .iconos a:hover {
          -webkit-opacity: 0.5;
          -moz-opacity: 0.5;
          opacity: 0.5;
          background: none; }
      .menu-principal .nav .iconos img {
        height: 30px; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav .iconos {
          margin-top: 0; }
          .menu-principal .nav .iconos #icono-tel, .menu-principal .nav .iconos #icono-sobre {
            display: none !important;
            visibility: hidden; } }
    .menu-principal .nav .nav_direcciones {
      margin: 0 auto; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav .nav_direcciones {
          margin: 0; } }
    .menu-principal .nav .direccion {
      color: white;
      max-width: 50%;
      text-align: center;
      margin: 0 auto; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav .direccion {
          display: none !important;
          visibility: hidden; } }
  .menu-principal a {
    color: white;
    padding: 5px 12px;
    display: block;
    text-decoration: none;
    width: 100%;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
    .menu-principal a:hover {
      background-color: #ffefa3;
      color: #3a2316; }

.cabecera_pagina .logo_principal {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (min-width: 50em) {
    .cabecera_pagina .logo_principal {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      position: absolute; } }
.cabecera_pagina .logo_principal a {
  padding: 0;
  width: 150px; }
  @media only screen and (min-width: 50em) {
    .cabecera_pagina .logo_principal a {
      width: 138px; } }
  .cabecera_pagina .logo_principal a:hover {
    background: transparent; }

/*------------------------------------*\
    $cabecera inicio
\*------------------------------------*/
.cabecera_inicio {
  background: url(../images/fondo_cabecera_inicio.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.cabecera_latienda {
  background: url(../images/fondo-latienda.jpg) no-repeat;
  background-repeat: no-repeat;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cabecera_latienda .cabecera_texto {
    padding: 2em 4em;
    width: inherit; }

.cabecera_texto {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
  border: 2px solid white;
  background-color: #954814;
  color: white;
  text-align: center; }
  .cabecera_texto h2 {
    margin-bottom: 0; }
  .cabecera_texto h3 {
    font-weight: 300;
    font-style: italic;
    line-height: 35px; }

/*------------------------------------*\
    $resto pagina
\*------------------------------------*/
.destacados, .ultimas-noticias {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.titular-seccion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 2em auto; }
  .titular-seccion h3 {
    margin: 0;
    color: #954814; }
  .titular-seccion h3:after {
    content: "";
    display: block;
    border-top: solid 1px #d6d6e0;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 1; }
  .titular-seccion h3 span {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    background-color: #ffefa3;
    margin: 0;
    padding: 0 1em;
    display: inline-block;
    position: relative;
    z-index: 5; }

.producto-destacado, .ultimanoti {
  margin-bottom: 2em;
  text-align: center;
  width: 100%; }
  @media only screen and (min-width: 37.5em) {
    .producto-destacado, .ultimanoti {
      width: 50%; } }
  @media only screen and (min-width: 50em) {
    .producto-destacado, .ultimanoti {
      width: 33.333333%;
      margin-bottom: 0;
      padding-bottom: 0; } }
  .producto-destacado a, .ultimanoti a {
    text-decoration: none; }
  .producto-destacado img, .ultimanoti img {
    margin-bottom: 0.5em; }
  .producto-destacado p, .ultimanoti p {
    max-width: 280px;
    margin: 0 auto; }
  .producto-destacado h3, .ultimanoti h3 {
    color: #954814; }
  .producto-destacado:hover, .ultimanoti:hover {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5; }

.ultimas-noticias {
  margin-bottom: 6em; }

@media only screen and (min-width: 37.5em) {
  .ultimanoti {
    padding-left: 3em;
    width: 100%;
    margin-bottom: 2em; }
    .ultimanoti img {
      float: left;
      margin-right: 2em; }
    .ultimanoti h3, .ultimanoti p {
      text-align: left;
      max-width: none; } }
@media only screen and (min-width: 62.5em) {
  .ultimanoti {
    width: 50%; }
    .ultimanoti img {
      width: 50%; }
    .ultimanoti .texto-desta {
      display: table; } }

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
  background-color: #ffefa3;
  overflow: hidden;
  width: 100%; }

.footer_conte {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media only screen and (min-width: 50em) {
    .footer_conte {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .footer_conte article[class*="footer"] {
    width: 100%;
    text-align: center;
    padding: 2em; }
    @media only screen and (min-width: 50em) {
      .footer_conte article[class*="footer"] {
        padding-bottom: 1em; } }
    .footer_conte article[class*="footer"] p {
      font-size: 13px;
      font-size: 0.8125rem;
      text-align: center;
      margin: 0 auto; }
    .footer_conte article[class*="footer"] img {
      height: 90px;
      margin-bottom: 1em; }

.footer_menu .iconos {
  display: inline-block; }
  .footer_menu .iconos img {
    height: 30px !important;
    margin-bottom: 0 !important; }
  .footer_menu .iconos a {
    float: left;
    width: 30px;
    margin: 0 7px; }
    .footer_menu .iconos a:hover {
      -webkit-opacity: 0.5;
      -moz-opacity: 0.5;
      opacity: 0.5; }
.footer_menu .menu {
  text-align: center;
  padding-left: 10px; }
  .footer_menu .menu a {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: lighter; }

.footer-legales {
  margin-bottom: 2em; }
  .footer-legales p {
    font-size: 13px;
    font-size: 0.8125rem;
    text-align: center;
    margin: 0 auto; }

.cont_latienda {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .cont_latienda section[class*="latienda"] {
    padding: 0 1em;
    text-align: center; }

.galeria_latienda {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0; }
  .galeria_latienda li {
    display: block;
    margin-right: 6px;
    margin-bottom: 6px;
    width: 100%; }

/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /*------------------------------------*\
      $2x
  \*------------------------------------*/
  /*
   * Breakpoint para dispositivos retina
   */ }
