@charset "UTF-8";
/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .scss) que se van
 * a compilar en el CSS definitivo: /css/style.css.
 * Si no usas algún módulo, es recomendable que elimines
 * o comentes su inclusión para no tener estilos innecesarios en tu CSS final
 * y optimizar lo máximo posible.
 */
/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * Contenido..................... Esto que lees

 * Variables..................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de SASS

 * Helpers....................... Clases de ayuda

 * Reset......................... Reinicio de valores CSS

 * Fuentes....................... Fuentes que vamos a importar

 * Links......................... Formas y estilos de los links

 * Tablas........................ Estilos de las tablas

 * Botones....................... Estilos de Botones, skins y variantes

 * Elementos..................... Elementos varios como Imagen, HR, etc...

 * Tipografía.................... Encabezados, small, párrafos, listas, etc...

 * Navegación.................... Una navegación, por si quieres usar esta y no la tuya propia

 * Formularios................... Estilos de todos los elementos de formularios y sus variantes

 * Sitio......................... Aquí escribes tus estilos para la web se vea como tu quieres ;)

 * Paginación.................... Estilos básicos para las paginaciones

 * Texturas...................... Badges, cajas y wells

 * Breakpoints................... Importamos breakpoints basados en las variables @bp$

 * Patron........................ Estilos para la guía de patrones
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 *
 * Definimos y configuramos las variables CSS que vamos a utilizar
 *
 */
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/**
 * "Start with the small screen first, 
    then expand until it looks like shit.
    Time to insert a breakpoint!"
 */
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * Definimos elementos constantes del layout
 */
/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
 * Definimos las fuentes a utilizar:
 * $basefont para todos los textos inline
 * $altfont para textos alternativos, como citas, intro, etc...
 * $codefont para código
 */
.lato {
  font-family: 'Lato' !important; }

/*------------------------------------*\
    $TAMAÑOS
\*------------------------------------*/
/**
 * Definimos las fuentes a utilizar:
 * $basefont para todos los textos inline
 * $altfont para textos alternativos, como citas, intro, etc...
 * $codefont para código
 */
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Brand stuff
 */
/**
 * Escala de grises
 * A veces no queremos que el negro sea "negro" o el blanco "blanco", puedes cambiarlos.
 */
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
/**
 * Definimos Colores y elementos de popups, mensajes de alerta, etc...
 */
/* Colores sociales -> son los colores corporativos, pero cambiadlos
 * si hace falta. (también podéis añadir más)  ///////////////////////
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
* Centrar y dar un ancho máximo igual a $pagemaxwidth.
*/
/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
/**
// * The ghost, nudged to maintain perfect centering
*/
/**
* Escondemos el texto solo VISUALMENTE
*/
/**
* Escondemos el texto de VISUALMENTE y SCREENREADERS
*/
/**
* Escondemos pero mantenemos layout.
*/
/**
* Visualmente escondido, pero se puede detectar con teclado (focus).
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible; }

/**
* Clear floats.
* http://bit.ly/1e3YaBH
*/
/**
* Gradientes los convertimos en placeholders porque imprime 10 millones de
* líneas inútiles en el CSS
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
    $FUENTES
\*------------------------------------*/
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
  text-decoration: none;
  color: #344814; }
  a:hover {
    text-decoration: underline;
    color: #172009; }
  a:focus {
    outline: thin dotted;
    color: #172009; }
  a:hover, a:active {
    outline: 0; }

/*------------------------------------*\
    $ELEMENTOS
\*------------------------------------*/
hr {
  clear: both;
  display: block;
  margin: 3em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid white; }

/*------------------------------------*\
    $ELEMENTOS-IMÁGENES
\*------------------------------------*/
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

.img--rounded {
  border-radius: 8px; }

.img--polaroid {
  padding: 12px;
  background-color: white;
  border: 1px solid white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img--circle {
  border-radius: 100%; }

/*------------------------------------*\
    $ELEMENTOS-FIGURE
\*------------------------------------*/
figure {
  margin-bottom: 1.5em; }
  figure img {
    margin-bottom: 0.375em; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 0.875rem;
    font-style: italic;
    color: gray; }

/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1.altheader,
  h2.altheader,
  h3.altheader,
  h4.altheader {
    color: gray;
    text-transform: uppercase; }

h3,
h4 {
  font-family: "lato";
  font-weight: lighter; }

h1 small,
h2 small,
h3 small {
  font-weight: normal;
  display: block;
  color: gray; }

h1, .h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2; }

h2, .h2 {
  margin-bottom: 0.5em;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2; }

h3, .h3 {
  margin-bottom: 0.375em;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.3; }

h4, .h4 {
  margin-bottom: 0.25em;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25; }

h5, .h5 {
  margin-bottom: 0.25em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1; }

h6, .h6 {
  margin-bottom: 0.25em;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1; }

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  line-height: 1.5em; }

.intro {
  font-weight: bold; }

small {
  font-size: 12px;
  font-size: 0.75rem;
  color: gray; }

ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 24px; }

li ul,
li ol {
  margin: 0; }

blockquote {
  margin: 0 0 1.5em 0;
  padding-left: 24px;
  border-left: 2px solid white;
  font-family: Georgia, Times, "Times New Roman";
  font-style: normal; }
  blockquote p {
    font-size: 18px;
    font-size: 1.125rem;
    color: gray;
    font-style: italic; }

q {
  quotes: none;
  font-style: italic; }

blockquote p::before,
blockquote p::after,
q:before,
q:after {
  content: ""; }

cite {
  font-style: normal; }

dl,
dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

abbr[title] {
  border-bottom: 1px dotted white;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  background-color: #f0f7e3;
  color: #262626;
  text-decoration: none; }

mark {
  background-color: yellow;
  color: #262626; }

pre,
code,
kbd,
samp {
  font-family: "Courier New", monospace;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 0;
  vertical-align: 1.5em; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/*------------------------------------*\
    $SITIO
\*------------------------------------*/
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  background: white;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f0f7e3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  background-image: url("../images/fondo_body_papel.png");
  font-family: "lato";
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  color: #262626; }

li {
  list-style: none; }

p {
  font-weight: lighter; }

.contenedor-big {
  max-width: 1040px;
  margin: 0 auto;
  overflow: hidden; }

.contenedor {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden; }

.contenedor-2 {
  max-width: 780px;
  margin: 0 auto !important; }

.contenedor-3 {
  max-width: 900px;
  margin: 0 auto !important; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.uno {
  width: 100%; }

.dos {
  width: 50%; }

.tres {
  width: 33.333333%; }

.centro {
  display: table;
  margin: 0 auto; }

/*------------------------------------*\
    $botones	
\*------------------------------------*/
.btn {
  background-color: #c65d17;
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
  line-height: 1em;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-size: 1.125rem;
  border: 2px solid black;
  cursor: pointer;
  padding: 5px 1.5em; }
  .btn:hover {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5; }

.btn-nara {
  background-color: #f9af48;
  color: black; }

.btn-pq {
  font-size: 14px;
  font-size: 0.875rem; }

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.activo {
  background-color: #ffefa3;
  color: #3a2316 !important; }

.zona-cliente {
  background-color: #3a2316; }
  .zona-cliente ul {
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 0; }
    @media only screen and (min-width: 50em) {
      .zona-cliente ul {
        width: 550px;
        float: right; } }
  .zona-cliente .grupo_uno {
    width: 80%; }
    .zona-cliente .grupo_uno li {
      float: left;
      width: 50%; }
  .zona-cliente .grupo_dos {
    width: 20%; }
    .zona-cliente .grupo_dos li {
      float: left;
      width: 50%; }
  .zona-cliente .tucesta__link:before {
    content: url(../images/cesta.svg);
    width: 15px;
    display: inline-block;
    margin-right: 5px; }
  .zona-cliente .tucesta__link:hover:before {
    content: url(../images/cesta_bn.svg); }
  .zona-cliente a {
    font-family: "lato";
    display: block;
    padding: 1em 0;
    text-decoration: none;
    text-align: center;
    color: white;
    text-transform: uppercase;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    font-size: 11px;
    font-size: 0.6875rem;
    border-left: 1px solid rgba(254, 247, 209, 0.5); }
    .zona-cliente a:hover {
      background-color: #ffefa3;
      color: #3a2316; }
  .zona-cliente .grupo_uno li:first-of-type a {
    border-left: none; }
    @media only screen and (min-width: 50em) {
      .zona-cliente .grupo_uno li:first-of-type a {
        border-left: 1px solid rgba(254, 247, 209, 0.5); } }
  @media only screen and (min-width: 50em) {
    .zona-cliente .grupo_dos li:last-of-type a {
      border-right: 1px solid rgba(254, 247, 209, 0.5); } }

.menu-principal {
  background-image: url("../images/Melamine-wood-004.png");
  border-top: 1px solid rgba(254, 247, 209, 0.5); }
  .menu-principal .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 1em; }
    @media only screen and (min-width: 37.5em) {
      .menu-principal .nav {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 1em; } }
    @media only screen and (min-width: 50em) {
      .menu-principal .nav {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin: 1em 0; } }
    .menu-principal .nav li {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav li {
          width: auto; } }
    .menu-principal .nav ul {
      padding: 0;
      margin: 0; }
    .menu-principal .nav .iconos {
      margin-top: 1em; }
      .menu-principal .nav .iconos a {
        float: left; }
        .menu-principal .nav .iconos a:hover {
          -webkit-opacity: 0.5;
          -moz-opacity: 0.5;
          opacity: 0.5;
          background: none; }
      .menu-principal .nav .iconos img {
        height: 30px; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav .iconos {
          margin-top: 0; }
          .menu-principal .nav .iconos #icono-tel, .menu-principal .nav .iconos #icono-sobre {
            display: none !important;
            visibility: hidden; } }
    .menu-principal .nav .nav_direcciones {
      margin: 0 auto; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav .nav_direcciones {
          margin: 0; } }
    .menu-principal .nav .direccion {
      color: white;
      max-width: 50%;
      text-align: center;
      font-weight: lighter;
      margin: 0 auto; }
      .menu-principal .nav .direccion a {
        text-decoration: underline;
        font-weight: lighter; }
        .menu-principal .nav .direccion a:hover {
          background: none;
          color: white;
          -webkit-opacity: 0.5;
          -moz-opacity: 0.5;
          opacity: 0.5; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav .direccion {
          display: none !important;
          visibility: hidden; } }
  .menu-principal a {
    color: white;
    padding: 5px 12px;
    display: block;
    text-decoration: none;
    width: 100%;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
    .menu-principal a:hover {
      background-color: #ffefa3;
      color: #3a2316; }

.cabecera_pagina .logo_principal {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (min-width: 50em) {
    .cabecera_pagina .logo_principal {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      position: absolute; } }
.cabecera_pagina .logo_principal a {
  padding: 0;
  width: 150px; }
  @media only screen and (min-width: 50em) {
    .cabecera_pagina .logo_principal a {
      width: 138px; } }
  .cabecera_pagina .logo_principal a:hover {
    background: transparent; }

/*------------------------------------*\
    $cabecera inicio
\*------------------------------------*/
.cabecera_inicio {
  background: url(../images/fondo_cabecera_inicio.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.cabecera_latienda {
  background: url(../images/fondo-latienda.jpg) no-repeat;
  background-repeat: no-repeat;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cabecera_latienda .cabecera_texto {
    padding: 2em 4em;
    width: inherit;
    margin-bottom: 0; }

.cabecera_texto {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 2em;
  border: 2px solid white;
  background-color: #954814;
  color: white;
  text-align: center;
  opacity: 0.9; }
  .cabecera_texto h1 {
    margin-bottom: 0; }
  .cabecera_texto h3 {
    font-weight: 300;
    font-style: italic;
    line-height: 35px; }

/*------------------------------------*\
    $resto pagina
\*------------------------------------*/
.destacados, .ultimas-noticias {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.titular-seccion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 2em auto; }

.titular-destacado {
  margin: 0;
  color: #954814; }

.titular-destacado:after {
  content: "";
  display: block;
  border-top: solid 1px #d6d6e0;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 1; }

.titular-destacado span {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  background-color: #ffefa3;
  margin: 0;
  padding: 0.2em 1em;
  display: inline-block;
  position: relative;
  z-index: 5; }

.producto-destacado, .ultimanoti {
  margin-bottom: 2em;
  text-align: center;
  width: 100%; }
  @media only screen and (min-width: 37.5em) {
    .producto-destacado, .ultimanoti {
      width: 50%; } }
  @media only screen and (min-width: 50em) {
    .producto-destacado, .ultimanoti {
      width: 33.333333%;
      margin-bottom: 0;
      padding-bottom: 0; } }
  .producto-destacado a, .ultimanoti a {
    text-decoration: none; }
  .producto-destacado img, .ultimanoti img {
    margin-bottom: 0.5em; }
  .producto-destacado p, .ultimanoti p {
    max-width: 280px;
    margin: 0 auto; }
  .producto-destacado h3, .ultimanoti h3 {
    color: #954814; }
  .producto-destacado:hover, .ultimanoti:hover {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5; }

.ultimas-noticias {
  margin-bottom: 6em; }

@media only screen and (min-width: 37.5em) {
  .ultimanoti {
    padding-left: 1em;
    width: 100%;
    margin-bottom: 2em; }
    .ultimanoti img {
      float: left;
      margin-right: 2em; }
    .ultimanoti h3, .ultimanoti p {
      text-align: left;
      max-width: none; } }
@media only screen and (min-width: 62.5em) {
  .ultimanoti {
    width: 50%; }
    .ultimanoti img {
      width: 50%; }
    .ultimanoti .texto-desta {
      display: table; } }

/*------------------------------------*\
	$CONTACTO
\*------------------------------------*/
.form-contacto {
  padding: 1em;
  margin-bottom: 2em; }

/*------------------------------------*\
	$AVISOS
\*------------------------------------*/
.avisos {
  background: #954814;
  color: white;
  padding: 2em 4em;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-size: 0.875rem;
  border: 1em solid #954814;
  -webkit-box-shadow: 0 0 0 1px #ffefa3 inset;
  box-shadow: 0 0 0 1px #ffefa3 inset;
  position: relative; }
  .avisos p {
    margin-bottom: 0; }
  .avisos .aviso {
    font-family: "Roboto Slab", serif; }
  .avisos .avisos-borrar {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 12px; }

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
  background-color: #ffefa3;
  overflow: hidden;
  width: 100%; }

.footer_conte {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media only screen and (min-width: 50em) {
    .footer_conte {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .footer_conte article[class*="footer"] {
    width: 100%;
    text-align: center;
    padding: 2em; }
    @media only screen and (min-width: 50em) {
      .footer_conte article[class*="footer"] {
        padding-bottom: 1em; } }
    .footer_conte article[class*="footer"] p, .footer_conte article[class*="footer"] .footer-direcc {
      font-size: 13px;
      font-size: 0.8125rem;
      text-align: center;
      margin: 0 auto;
      font-weight: lighter; }
    .footer_conte article[class*="footer"] .footer-direcc {
      text-decoration: underline; }
    .footer_conte article[class*="footer"] img {
      height: 90px;
      margin-bottom: 1em; }

.footer_menu .iconos {
  display: inline-block; }
  .footer_menu .iconos img {
    height: 30px !important;
    margin-bottom: 0 !important; }
  .footer_menu .iconos a {
    float: left;
    width: 30px;
    margin: 0 7px; }
    .footer_menu .iconos a:hover {
      -webkit-opacity: 0.5;
      -moz-opacity: 0.5;
      opacity: 0.5; }
.footer_menu .menu {
  text-align: center;
  padding-left: 0px; }
  .footer_menu .menu a {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: lighter;
    line-height: 2.5em; }

.footer-legales {
  margin-bottom: 2em; }
  .footer-legales p {
    font-size: 13px;
    font-size: 0.8125rem;
    text-align: center;
    margin: 0 auto; }

.cont_latienda {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .cont_latienda section[class*="latienda"] {
    padding: 0 1em;
    text-align: center; }

@media only screen and (min-width: 56.25em) {
  .latienda_galeria {
    width: 40%; } }

.galeria_latienda {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  max-width: 60%;
  margin: 0 auto; }
  @media only screen and (min-width: 56.25em) {
    .galeria_latienda {
      max-width: 100%; } }
  .galeria_latienda li {
    display: block;
    margin-right: 6px;
    margin-bottom: 6px; }
    @media only screen and (min-width: 37.5em) {
      .galeria_latienda li {
        width: 45%; } }

@media only screen and (min-width: 56.25em) {
  .latienda_texto {
    width: 60%;
    text-align: left !important; } }

.latienda-datos {
  padding: 1em;
  margin-bottom: 4em; }
  @media only screen and (min-width: 56.25em) {
    .latienda-datos {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; } }

.plano {
  text-align: center; }
  @media only screen and (min-width: 56.25em) {
    .plano {
      width: 50%;
      text-align: left; } }

.latienda-dir {
  margin: 0 auto;
  max-width: 500px;
  font-family: "Roboto Slab", serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  font-size: 0.875rem; }
  .latienda-dir > article {
    width: 50%;
    padding-top: 1em; }
    @media only screen and (min-width: 56.25em) {
      .latienda-dir > article {
        width: 100%;
        padding-top: 0;
        padding-left: 15%; } }
  @media only screen and (min-width: 56.25em) {
    .latienda-dir {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 25%; } }

.contactos {
  margin: 0 auto;
  max-width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  width: 100%; }
  @media only screen and (min-width: 56.25em) {
    .contactos {
      width: 25%; } }
  .contactos .elemento {
    width: 50%;
    padding: 2em 0;
    text-align: center; }
    @media only screen and (min-width: 30em) {
      .contactos .elemento {
        text-align: left; } }
    @media only screen and (min-width: 56.25em) {
      .contactos .elemento {
        width: 100%;
        padding: 0; } }
    .contactos .elemento:hover {
      opacity: 0.5; }
    .contactos .elemento img {
      width: 35px;
      margin: 0 auto; }
      @media only screen and (min-width: 30em) {
        .contactos .elemento img {
          display: inline-table;
          margin-right: 5px; } }
    .contactos .elemento p {
      font-size: 14px;
      font-size: 0.875rem;
      font-family: "Roboto Slab", serif;
      margin: 0;
      padding: 0;
      text-align: center; }
      @media only screen and (min-width: 30em) {
        .contactos .elemento p {
          display: inline-table; } }
      @media only screen and (min-width: 56.25em) {
        .contactos .elemento p {
          line-height: 2.3em; } }

.titular {
  text-align: center;
  padding: 3em 0; }
  .titular h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: lighter; }
  .titular h2 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: lighter; }

.productos a {
  font-family: "Roboto Slab", serif; }

.descripcion-producto {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 1em;
  text-align: left; }

ul[class*="items"] {
  padding: 0;
  margin-bottom: 2em;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left; }
  ul[class*="items"] .item {
    width: 100%;
    padding: 0.5em 0;
    margin-bottom: 1em; }
    @media only screen and (min-width: 30em) {
      ul[class*="items"] .item {
        width: 50%; } }
    @media only screen and (min-width: 37.5em) {
      ul[class*="items"] .item {
        width: 33.333333%; } }
    @media only screen and (min-width: 50em) {
      ul[class*="items"] .item {
        width: 25%; } }

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 29px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: lighter; }

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -20px; }

label.css-label {
  background-image: url("../images/checkbox02.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#horizontalTab {
  padding: 0 1em 2em 1em; }
  #horizontalTab div[id*="tab-"] {
    max-width: 780px;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid #3a2316; }
    #horizontalTab div[id*="tab-"] h5 {
      line-height: 1.3em; }
  #horizontalTab .descripcion-producto {
    font-weight: 400; }
    #horizontalTab .descripcion-producto span {
      padding: 3px 8px;
      padding-left: 0;
      font-weight: bolder; }
  #horizontalTab button {
    margin-top: 1em; }

.mostrar_productos {
  margin-bottom: 4em; }

.mostrar_productos .titular p {
  margin-bottom: 0;
  padding: 0;
  font-size: 18px;
  font-size: 1.125rem; }

.productos_zona {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-position: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .productos_zona .prod {
    max-width: 240px;
    text-align: center;
    margin: 0 10px 20px 10px;
    min-height: 278px;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
    .productos_zona .prod:hover {
      -webkit-opacity: 0.5;
      -moz-opacity: 0.5;
      opacity: 0.5; }
    .productos_zona .prod img {
      border: 1px solid #f5f1f1; }
  .productos_zona .prod a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: strech;
    -webkit-align-items: strech;
    -moz-box-align: strech;
    -ms-flex-align: strech;
    align-items: strech; }
  .productos_zona .prod_text {
    background-color: #f5f1f1;
    overflow: hidden;
    line-height: 1.2em;
    padding: 1em;
    margin-bottom: 0; }

.elproducto-seccion {
  text-align: center;
  padding: 2em; }
  @media only screen and (min-width: 37.5em) {
    .elproducto-seccion {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media only screen and (min-width: 50em) {
    .elproducto-seccion {
      margin-top: 5em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative; }
      .elproducto-seccion .elproducto-texto {
        width: 65%;
        text-align: left;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding-left: 2em;
        padding-bottom: 2em; }
      .elproducto-seccion .elproducto-lafoto {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 35%;
        margin-bottom: 2em; }
        .elproducto-seccion .elproducto-lafoto img {
          border: 1px solid #f5f1f1; }
      .elproducto-seccion .tabla-precios {
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4; }
        .elproducto-seccion .tabla-precios .rwd-table {
          max-width: none; } }

.caracteristicas {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 4em auto;
  width: 322px;
  font-size: 14px;
  font-size: 0.875rem; }
  @media only screen and (min-width: 37.5em) {
    .caracteristicas {
      font-size: 16px;
      font-size: 1rem; } }
  @media only screen and (min-width: 50em) {
    .caracteristicas {
      margin: 0; } }
  .caracteristicas span {
    font-weight: bolder;
    margin-left: 5px; }
  .caracteristicas li {
    margin-bottom: 5px;
    text-align: left;
    position: relative;
    padding: 0 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (min-width: 37.5em) {
      .caracteristicas li {
        line-height: 60px; } }
  .caracteristicas .carac-icon {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1em; }
  .caracteristicas .canti .carac-icon {
    background-color: #d9e022 !important; }
    .caracteristicas .canti .carac-icon img {
      width: 85%; }
  .caracteristicas .tempe .carac-icon {
    background-color: #f9af48 !important; }
  .caracteristicas .tiempo .carac-icon {
    background-color: #f7931e !important; }
  .caracteristicas .cafeina .carac-icon {
    background-color: #d68a58 !important; }

.cafeina0, .cafeina1, .cafeina2, .cafeina3, .cafeina4 {
  background: url(../images/cafeina-sprite.png) no-repeat;
  margin-left: 0.5em; }

.cafeina0 {
  background-position: 0 0;
  width: 78px;
  height: 16px; }

.cafeina1 {
  background-position: 0 -19px;
  width: 78px;
  height: 16px; }

.cafeina2 {
  background-position: 0 -39px;
  width: 78px;
  height: 16px; }

.cafeina3 {
  background-position: 0 -59px;
  width: 78px;
  height: 16px; }

.cafeina4 {
  background-position: 0 -78px;
  width: 78px;
  height: 16px; }

.tabla-precios {
  max-width: 322px;
  margin: 0 auto; }
  @media only screen and (min-width: 37.5em) {
    .tabla-precios {
      max-width: none;
      margin: 0; } }

.rwd-table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse; }
  .rwd-table tr {
    background-color: white; }
  .rwd-table th {
    font-weight: inherit;
    border: 1px solid rgba(66, 92, 26, 0.13);
    width: 6.5em;
    display: inline-block;
    background-color: #fef7d1;
    margin-right: 13px;
    padding: 8px;
    display: none; }
  .rwd-table td {
    display: block;
    border: 1px solid rgba(66, 92, 26, 0.13);
    border-bottom: none; }
    .rwd-table td:first-child {
      margin-top: .5em; }
    .rwd-table td:last-child {
      margin-bottom: .5em;
      border-bottom: 1px solid rgba(66, 92, 26, 0.13); }
    .rwd-table td span {
      width: 6.5em;
      display: inline-block;
      background-color: #fef7d1;
      margin-right: 13px;
      padding: 8px; }
      @media only screen and (min-width: 37.5em) {
        .rwd-table td span {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media only screen and (min-width: 37.5em) {
      .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: 0.75em 1em; } }
  @media only screen and (min-width: 37.5em) {
    .rwd-table .ultimafila {
      border-bottom: 1px solid rgba(66, 92, 26, 0.13); } }
  .rwd-table thead tr {
    font-family: "Roboto Slab", serif; }
  .rwd-table tfoot tr {
    background-color: transparent; }
    .rwd-table tfoot tr .iva {
      border: none;
      font-size: 12px;
      font-size: 0.75rem; }

.unidades input {
  border: none;
  padding: 3px;
  margin: 0;
  margin-left: -3px;
  text-align: center;
  background-color: #e6e6e6;
  font-size: 16px;
  font-size: 1rem;
  font-family: "lato"; }

.prod-titulo {
  font-family: "Roboto Slab", serif;
  border: none;
  background-color: none;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1em; }

.botones {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
  -moz-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
  display: block;
  margin-bottom: 4em;
  width: 100%; }
  .botones div {
    width: 100%;
    overflow: hidden; }
  .botones button {
    margin: 0.5em auto;
    text-align: center;
    display: block; }
    @media only screen and (min-width: 50em) {
      .botones button {
        float: right; } }

.btn-seguir span {
  position: relative;
  margin-left: 10px; }
  .btn-seguir span:before {
    content: "<";
    position: absolute;
    left: -10px; }

.flechita {
  height: 15px;
  position: absolute;
  top: 5px;
  left: 20px; }

.btn {
  width: 180px; }

.left {
  text-align: left !important; }

@media only screen and (min-width: 50em) {
  .right {
    text-align: right !important;
    padding-right: 2em !important; } }

.center {
  text-align: center !important; }

.titu-cesta {
  padding-bottom: 1em; }

.nom-product {
  max-width: 200px; }

.lacesta {
  overflow: hidden;
  padding: 1em; }
  @media only screen and (min-width: 50em) {
    .lacesta {
      padding: 0; } }
  .lacesta > section {
    margin-bottom: 2em; }
  .lacesta .titular-destacado span {
    line-height: 2em; }

.tabla-lacesta {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-bottom: 2em; }
  .tabla-lacesta th {
    background-color: #fef7d1;
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    font-size: 0.875rem; }
  .tabla-lacesta td {
    vertical-align: middle;
    line-height: 1em;
    padding: 1em 0;
    text-align: left; }
  .tabla-lacesta td, .tabla-lacesta th {
    border: 1px solid rgba(230, 230, 230, 0.33);
    padding-left: 1em; }
  .tabla-lacesta tbody tr {
    line-height: 3em; }
  .tabla-lacesta .ico-borrar {
    padding: 0; }
  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .tabla-lacesta {
      /* Force table to not be like tables anymore */
      /* Hide table headers (but not display: none;, for accessibility) */ }
      .tabla-lacesta table, .tabla-lacesta thead, .tabla-lacesta tbody, .tabla-lacesta th, .tabla-lacesta td, .tabla-lacesta tr {
        display: block; }
      .tabla-lacesta thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px; }
      .tabla-lacesta tr {
        border: 1px solid rgba(230, 230, 230, 0.33);
        margin-bottom: 2em;
        padding: 0; }
      .tabla-lacesta tbody tr {
        line-height: inherit; }
      .tabla-lacesta td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 40%;
        overflow: hidden; }
      .tabla-lacesta td, .tabla-lacesta th {
        text-align: left; }
      .tabla-lacesta td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0px;
        left: 0px;
        width: 45%;
        height: 100px;
        white-space: nowrap;
        background-color: #fef7d1;
        font-family: "Roboto Slab", serif;
        width: 30%;
        font-size: 14px;
        line-height: 36px;
        text-align: left;
        padding-left: 13px; }
      .tabla-lacesta td:nth-of-type(1):before {
        content: "Producto"; }
      .tabla-lacesta td:nth-of-type(2):before {
        content: "Formato"; }
      .tabla-lacesta td:nth-of-type(3):before {
        content: "€/unid."; }
      .tabla-lacesta td:nth-of-type(4):before {
        content: "Unidades"; }
      .tabla-lacesta td:nth-of-type(5):before {
        content: "TOTAL"; }
      .tabla-lacesta td:nth-of-type(6):before {
        content: "Borrar"; }
      .tabla-lacesta .objeto {
        padding-left: 40%; }
      .tabla-lacesta .ico-borrar {
        padding: 1em 0; }
      .tabla-lacesta .nom-product {
        max-width: none; } }

.icono-borrar {
  width: 20px;
  cursor: pointer;
  display: table;
  margin: 0 auto;
  margin-left: 40%; }
  .icono-borrar:hover {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5; }

.recoger ul {
  padding: 0;
  display: table;
  margin: 0 auto;
  padding-bottom: 1em; }
.recoger li {
  margin-bottom: 5px; }
.recoger p {
  text-align: center; }
.recoger input[type=radio].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
.recoger input[type=radio].css-checkbox + label.css-label {
  padding-left: 25px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer; }
.recoger input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -20px; }
.recoger label.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_a6b45bda8411f8d3c0c1dc677340852b.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.precios {
  text-align: center; }
  .precios article {
    border: 2px solid black;
    background-color: white;
    display: table;
    margin: 0 auto;
    padding: 0.5em 1em; }
    .precios article h3 {
      padding: 0;
      margin: 0; }
    .precios article p {
      padding: 0;
      margin: 0; }

.titular-lacesta {
  text-align: center;
  background-color: rgba(230, 230, 230, 0.33);
  text-align: center;
  display: table;
  margin: 0 auto;
  padding: 0.5em 1em;
  margin-bottom: 2em;
  width: 100%; }

.hacerpedidos .btn {
  display: table;
  margin: 0 auto; }
.hacerpedidos .hacer {
  padding: 0.5em 0;
  margin-bottom: 1em; }

.selector {
  background-image: url("../images/selec-formato.png");
  background-repeat: no-repeat;
  -webkit-background-size: 20px;
  background-size: 20px;
  background-position: 70% 50%;
  background-color: white;
  overflow: hidden;
  padding: 0;
  min-width: 120px; }
  @media only screen and (min-width: 37.5em) {
    .selector {
      background-position: 80% 50%; } }

.selector-opciones {
  width: 120%;
  background: transparent;
  border: none;
  color: gray;
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "lato";
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0; }

.datosenvio ul {
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 0; }
.datosenvio label {
  margin-left: 1em; }
.datosenvio input, .datosenvio textarea {
  font-family: "lato";
  color: black;
  font-weight: lighter;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid grey;
  padding: 1em;
  font-size: 14px; }
  .datosenvio input::-webkit-input-placeholder, .datosenvio textarea::-webkit-input-placeholder {
    color: black; }
  .datosenvio input:-moz-placeholder, .datosenvio textarea:-moz-placeholder {
    /* Firefox 18- */
    color: black; }
  .datosenvio input::-moz-placeholder, .datosenvio textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: black; }
  .datosenvio input:-ms-input-placeholder, .datosenvio textarea:-ms-input-placeholder {
    color: black; }

.confirmar {
  text-transform: inherit;
  font-family: inherit;
  max-width: 200px;
  display: table;
  margin: 0 auto;
  padding: 0.5em !important;
  border: none !important;
  font-family: "Roboto Slab", serif !important; }

.contenido-noticias {
  margin-bottom: 4em; }

.caja-noticias {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (min-width: 50em) {
    .caja-noticias {
      width: 72%;
      float: left; } }

.side-noticias {
  padding: 0;
  background-color: #f5f1f1;
  display: table;
  margin: 0 auto;
  width: 95%;
  text-align: center; }
  .side-noticias ul {
    padding: 0;
    display: table;
    margin: 0 auto;
    margin-bottom: 1em; }
  .side-noticias h4 {
    font-family: "Roboto Slab", serif;
    margin-top: 1em;
    padding: 5px 0;
    letter-spacing: 2px;
    text-align: center;
    background-color: #e6e6e6;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
  .side-noticias li {
    font-weight: 200;
    margin: 5px 0; }
  @media only screen and (min-width: 50em) {
    .side-noticias {
      text-align: left;
      margin: 1em;
      float: right;
      width: 24%; } }

.noticia-pq, .noticia-grande, .otrasnoticias {
  text-align: left;
  padding: 1em 2em;
  background-color: white;
  border: 1px solid #cccccc;
  margin: 1em;
  max-width: 650px; }
  @media only screen and (min-width: 50em) {
    .noticia-pq, .noticia-grande, .otrasnoticias {
      max-width: none; } }
  .noticia-pq .fecha, .noticia-grande .fecha, .otrasnoticias .fecha {
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 0px;
    color: grey; }
  .noticia-pq img, .noticia-grande img, .otrasnoticias img {
    margin-bottom: 1em; }
  .noticia-pq .texto-noti-pq, .noticia-grande .texto-noti-pq, .otrasnoticias .texto-noti-pq {
    margin-bottom: 1em; }
    .noticia-pq .texto-noti-pq p, .noticia-grande .texto-noti-pq p, .otrasnoticias .texto-noti-pq p {
      margin-bottom: 1em; }

.leermas {
  font-size: 13px;
  color: #344814; }
  .leermas:hover {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5; }

.noticia-grande {
  margin-bottom: 0; }

.otrasnoticias {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  background-color: white;
  font-family: "Roboto Slab", serif;
  border: none;
  margin-top: 0; }
  .otrasnoticias > article {
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    width: 50%; }
    .otrasnoticias > article:hover {
      background-color: #cccccc; }
  .otrasnoticias a {
    margin: 0 2em;
    line-height: 3em; }
  .otrasnoticias .noti-siguiente {
    border-right: 1px solid #cccccc;
    text-align: right; }

.r-tabs-anchor {
  color: #344814;
  padding: 10px 3em;
  background-color: #DBDFD7;
  display: block;
  text-align: center;
  font-family: "Roboto Slab", serif;
  border-bottom: 1px solid white; }
  @media only screen and (min-width: 37.5em) {
    .r-tabs-anchor {
      border: 0; } }

.r-tabs .r-tabs-nav {
  margin: 0;
  padding: 0; }

.r-tabs .r-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none; }

.r-tabs .r-tabs-panel {
  padding: 15px;
  display: none;
  background: white; }

.r-tabs .r-tabs-accordion-title {
  display: none; }

.r-tabs .r-tabs-panel.r-tabs-state-active {
  display: block; }

.r-tabs-state-active .r-tabs-anchor {
  background-color: #344814;
  color: white; }

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
  .r-tabs .r-tabs-nav {
    display: none; }

  .r-tabs .r-tabs-accordion-title {
    display: block; } }
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /*------------------------------------*\
      $2x
  \*------------------------------------*/
  /*
   * Breakpoint para dispositivos retina
   */ }
