@charset "UTF-8";
/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .scss) que se can
 * a compilar en el CSS definitivo: /css/style.css.
 * Si no usas algún módulo, es recomendable que elimines
 * o comentes su inclusión para no tener estilos innecesarios en tu CSS final
 * y optimizar lo máximo posible.
 */
/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * Contenido..................... Esto que lees

 * Variables..................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de SASS

 * Helpers....................... Clases de ayuda

 * Reset......................... Reinicio de valores CSS

 * Fuentes....................... Fuentes que vamos a importar

 * Links......................... Formas y estilos de los links

 * Tablas........................ Estilos de las tablas

 * Botones....................... Estilos de Botones, skins y variantes

 * Elementos..................... Elementos varios como Imagen, HR, etc...

 * Tipografía.................... Encabezados, small, párrafos, listas, etc...

 * Navegación.................... Una navegación, por si quieres usar esta y no la tuya propia

 * Formularios................... Estilos de todos los elementos de formularios y sus variantes

 * Sitio......................... Aquí escribes tus estilos para la web se vea como tu quieres ;)

 * Paginación.................... Estilos básicos para las paginaciones

 * Texturas...................... Badges, cajas y wells

 * Breakpoints................... Importamos breakpoints basados en las variables @bp$

 * Patron........................ Estilos para la guía de patrones
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 *
 * Definimos y configuramos las variables CSS que vamos a utilizar
 *
 */
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/**
 * "Start with the small screen first, 
    then expand until it looks like shit.
    Time to insert a breakpoint!"
 */
/*------------------------------------*\
    $no-mediaquery-class
\*------------------------------------*/
/**
 * Si decides incluir lt-ie9 para dar soporte a navegadores sin estilos
 * esta es la clase que se añadirá a todos los elementos.
 */
/*------------------------------------*\
    $IMAGE-DIR
\*------------------------------------*/
/**
 * Con agregar esta variable a las imágenes declaradas en CSS apañamos:
 */
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * Definimos elementos constantes del layout
 */
/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
 * Definimos las fuentes a utilizar:
 * $basefont para todos los textos inline
 * $altfont para textos alternativos, como citas, intro, etc...
 * $codefont para código
 */
.lato {
  font-family: 'Lato' !important; }

.aleo {
  font-family: 'Aleo'; }

/*------------------------------------*\
    $TAMAÑOS
\*------------------------------------*/
/**
 * Definimos las fuentes a utilizar:
 * $basefont para todos los textos inline
 * $altfont para textos alternativos, como citas, intro, etc...
 * $codefont para código
 */
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Brand stuff
 */
/**
 * Escala de grises
 * A veces no queremos que el negro sea "negro" o el blanco "blanco", puedes cambiarlos.
 */
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
/**
 * Definimos Colores y elementos de popups, mensajes de alerta, etc...
 */
/* Colores sociales -> son los colores corporativos, pero cambiadlos
 * si hace falta. (también podéis añadir más)  ///////////////////////
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
* Centrar y dar un ancho máximo igual a $pagemaxwidth.
*/
/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
/**
// * The ghost, nudged to maintain perfect centering
*/
/**
* Escondemos el texto solo VISUALMENTE
*/
/**
* Escondemos el texto de VISUALMENTE y SCREENREADERS
*/
/**
* Escondemos pero mantenemos layout.
*/
/**
* Visualmente escondido, pero se puede detectar con teclado (focus).
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible; }

/**
* Clear floats.
* http://bit.ly/1e3YaBH
*/
[role="banner"]:after, section:after, .swatch:after {
  content: "";
  display: table;
  clear: both; }

/**
* Gradientes los convertimos en placeholders porque imprime 10 millones de
* líneas inútiles en el CSS
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, body, div, span, object, iframe, h1, .cabecera_texto h2, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
    $FUENTES
\*------------------------------------*/
@font-face {
  font-family: 'aleoitalic';
  src: url("../../fonts/aleo/Aleo-Italic-webfont.eot");
  src: url("../../fonts/aleo/Aleo-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/aleo/Aleo-Italic-webfont.woff") format("woff"), url("../../fonts/aleo/Aleo-Italic-webfont.ttf") format("truetype"), url("../../fonts/aleo/Aleo-Italic-webfont.svg#aleoitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'aleobold';
  src: url("../../fonts/aleo/Aleo-Bold-webfont.eot");
  src: url("../../fonts/aleo/Aleo-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/aleo/Aleo-Bold-webfont.woff") format("woff"), url("../../fonts/aleo/Aleo-Bold-webfont.ttf") format("truetype"), url("../../fonts/aleo/Aleo-Bold-webfont.svg#aleobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'aleobolditalic';
  src: url("../../fonts/aleo/Aleo-BoldItalic-webfont.eot");
  src: url("../../fonts/aleo/Aleo-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/aleo/Aleo-BoldItalic-webfont.woff") format("woff"), url("../../fonts/aleo/Aleo-BoldItalic-webfont.ttf") format("truetype"), url("../../fonts/aleo/Aleo-BoldItalic-webfont.svg#aleobolditalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'aleolight';
  src: url("../../fonts/aleo/Aleo-Light-webfont.eot");
  src: url("../../fonts/aleo/Aleo-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/aleo/Aleo-Light-webfont.woff") format("woff"), url("../../fonts/aleo/Aleo-Light-webfont.ttf") format("truetype"), url("../../fonts/aleo/Aleo-Light-webfont.svg#aleolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'aleolightitalic';
  src: url("../../fonts/aleo/Aleo-LightItalic-webfont.eot");
  src: url("../../fonts/aleo/Aleo-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/aleo/Aleo-LightItalic-webfont.woff") format("woff"), url("../../fonts/aleo/Aleo-LightItalic-webfont.ttf") format("truetype"), url("../../fonts/aleo/Aleo-LightItalic-webfont.svg#aleolightitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'aleoregular';
  src: url("../../fonts/aleo/Aleo-Regular-webfont.eot");
  src: url("../../fonts/aleo/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/aleo/Aleo-Regular-webfont.woff") format("woff"), url("../../fonts/aleo/Aleo-Regular-webfont.ttf") format("truetype"), url("../../fonts/aleo/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
  text-decoration: none;
  color: #344814; }
  a:visited {
    color: #344814; }
  a:hover {
    text-decoration: underline;
    color: #172009; }
  a:focus {
    outline: thin dotted;
    color: #172009; }
  a:hover, a:active {
    outline: 0; }

/*------------------------------------*\
    $TABLAS
\*------------------------------------*/
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }
  table th,
  table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #a2d058;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: left; }
  table th {
    font-weight: bold; }
  table thead th {
    vertical-align: bottom; }
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 0; }
  table tbody + tbody {
    border-top: 2px solid #a2d058; }
  table tbody tr td,
  table tbody tr th {
    -webkit-transition: background-color 0.25s 0 linear;
    -moz-transition: background-color 0.25s 0 linear;
    -ms-transition: background-color 0.25s 0 linear;
    -o-transition: background-color 0.25s 0 linear;
    transition: background-color 0.25s 0 linear; }
  table tbody tr:hover td,
  table tbody tr:hover th {
    background-color: #b8dc7f; }

.table-condensed th,
.table-condensed td {
  padding: 4px 5px; }

.table-bordered {
  border: 1px solid #a2d058;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed; }
  .table-bordered th,
  .table-bordered td {
    border-left: 1px solid #a2d058; }
  .table-bordered thead:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #cee7a7; }

/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
/*
 * Definimos los botones y sus variantes
 */
/**
* .btn es la clase principal para definir un botón
*/
.btn {
  display: inline-block;
  line-height: 2.25em;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 100%;
  white-space: nowrap;
  background-color: #c65d17;
  border: 2px solid #262626;
  font-weight: lighter;
  font-family: "Aleo";
  cursor: pointer;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1.5em;
  padding-left: 1.5em;
  	/**
   	* Nadie quiere un botón con texto subrayado cuando
   	* hacemos hover.
   	*/ }
  .btn:hover {
    text-decoration: none; }
  .btn:active, .btn:focus {
    outline: none; }
  .btn:visited {
    color: #262626; }

/*------------------------------------*\
    $BOTONES-VARIANTES
\*------------------------------------*/
/**
 * Variantes de los botones: color para dar sensaciones.
 *
 */
/**
* Inputs con estilo de botones
*/
input[type="submit"].btn:hover {
  border-color: #262626; }

/**
* Botón no disponible
*/
.btn--disabled {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default; }

/**
* Botón de Error
*/
.btn--error {
  background-color: #da4f49;
  color: #48110f; }
  .btn--error:hover {
    color: #fcf3f3; }
  .btn--error:visited {
    color: #48110f; }

/**
* Botón de Info
*/
.btn--info {
  background-color: #a5dddf;
  color: #308588; }
  .btn--info:hover {
    color: white; }
  .btn--info:visited {
    color: #308588; }

/**
* Botón principal
*/
.btn--primary {
  background-color: #344814;
  color: white; }
  .btn--primary:hover {
    color: #a2d058; }
  .btn--primary:visited {
    color: black; }

/**
* Botón de OK
*/
.btn--success {
  background-color: #5bb75b;
  color: #153115; }
  .btn--success:hover {
    color: #e9f5e9; }
  .btn--success:visited {
    color: #153115; }

/**
* Botón de advertencia
*/
.btn--warning {
  background-color: #da4f49;
  color: #48110f; }
  .btn--warning:hover {
    color: #fcf3f3; }
  .btn--warning:visited {
    color: #48110f; }

.btn--inactive,
.btn--inactive:hover,
.btn--inactive:active,
.btn--inactive:focus {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default; }

/*------------------------------------*\
    $BOTONES-TAMAÑOS
\*------------------------------------*/
/**
 * Variantes de los botones por tamaño.
 *
 */
.btn--mini {
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 1.5; }

.btn--small {
  padding-right: 1.5em;
  padding-left: 1.5em;
  line-height: 2; }

.btn--large {
  padding-right: 3em;
  padding-left: 3em;
  line-height: 3; }

/*------------------------------------*\
    $BOTONES-GRUPOS
\*------------------------------------*/
/**
 * Con esta clase podemos agrupar los botones
 * en grupos horizontales.
 *
 */
.btn--group {
  position: relative;
  *margin-left: .3em; }

.btn--group .btn {
  position: relative;
  border-radius: 0;
  float: left;
  margin-left: -1px; }

.btn--group .btn:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn--group .btn:last-child {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn--group .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn--group .btn.large:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/*------------------------------------*\
    $ELEMENTOS
\*------------------------------------*/
hr {
  clear: both;
  display: block;
  margin: 3em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid white; }

/*------------------------------------*\
    $ELEMENTOS-IMÁGENES
\*------------------------------------*/
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

.img--rounded {
  border-radius: 8px; }

.img--polaroid {
  padding: 12px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img--circle {
  border-radius: 100%; }

/*------------------------------------*\
    $ELEMENTOS-FIGURE
\*------------------------------------*/
figure {
  margin-bottom: 1.5em; }
  figure img {
    margin-bottom: 0.375em; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 0.875rem;
    font-style: italic;
    color: gray; }

/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
h1, .cabecera_texto h2,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Aleo";
  font-weight: 300;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1.altheader, .cabecera_texto h2.altheader,
  h2.altheader,
  h3.altheader,
  h4.altheader {
    color: gray;
    text-transform: uppercase; }

h3,
h4 {
  font-family: "lato";
  font-weight: lighter; }

h1 small, .cabecera_texto h2 small,
h2 small,
h3 small {
  font-weight: normal;
  display: block;
  color: gray; }

h1, .cabecera_texto h2, .h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2; }

h2, .h2 {
  margin-bottom: 0.5em;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2; }

h3, .h3 {
  margin-bottom: 0.375em;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.3; }

h4, .h4 {
  margin-bottom: 0.25em;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25; }

h5, .h5 {
  margin-bottom: 0.25em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1; }

h6, .h6 {
  margin-bottom: 0.25em;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1; }

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  line-height: 1.5em; }

.intro {
  font-weight: bold; }

small {
  font-size: 12px;
  font-size: 0.75rem;
  color: gray; }

ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 24px; }

li ul,
li ol {
  margin: 0; }

blockquote {
  margin: 0 0 1.5em 0;
  padding-left: 24px;
  border-left: 2px solid white;
  font-family: Georgia, Times, "Times New Roman";
  font-style: normal; }
  blockquote p {
    font-size: 18px;
    font-size: 1.125rem;
    color: gray;
    font-style: italic; }

q {
  quotes: none;
  font-style: italic; }

blockquote p::before,
blockquote p::after,
q:before,
q:after {
  content: ""; }

cite {
  font-style: normal; }

dl,
dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

abbr[title] {
  border-bottom: 1px dotted white;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  background-color: #f0f7e3;
  color: #262626;
  text-decoration: none; }

mark {
  background-color: yellow;
  color: #262626; }

pre,
code,
kbd,
samp {
  font-family: "Courier New", monospace;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 0;
  vertical-align: 1.5em; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/**
*
* Le asignamos la clase .nav al ul que contenga la navegación:

		 <ul class="nav">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav > li {
  position: relative;
  display: inline-block; }
  .nav > li > a {
    position: relative; }

/**
*
* .nav--fit extiende a .nav y alarga la navegación
* para que ocupe el 100% de su contenedor

		 <ul class="nav nav--fit">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav--fit {
  display: table;
  width: 100%; }
  .nav--fit > li {
    display: table-cell; }
    .nav--fit > li > a {
      display: block; }

/**
*
* .nav--tabs extiende a .nav y crea la base para una navegación
* en pestañas.

		 <ul class="nav nav--tabs">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav--tabs {
  border-bottom: 1px solid white; }
  .nav--tabs > li {
    margin-bottom: -1px; }
    .nav--tabs > li > a {
      display: block; }

.tucesta__link img {
  width: 15px;
  margin-right: 5px; }

/*------------------------------------*\
    $PAGINACION
\*------------------------------------*/
/**
 * Paginación básica
 * Requiere algunos comentarios para evitar el espacio causado por
 * `display:inline-block;`.
 *
   <ol class="nav  pagination">
       <li class=pagination__first>First</li>
       <li class=pagination__prev>Previous</li>
       <li><a href=/page/1>1</a></li>
       <li><a href=/page/2>2</a></li>
       <li class=current><a href=/page/3>3</a></li>
       <li><a href=/page/4>4</a></li>
       <li><a href=/page/5>5</a></li>
       <li class=pagination__next><a href=/page/next>Next</a></li>
       <li class=pagination__last><a href=/page/last>Last</a></li>
   </ol>
 *
 *
 * Thanks to @ccswizardry for this simple chunk of code!
 */
.pagination {
  text-align: center;
  /**
   * Remove whitespace caused by `inline-block`.
   */
  letter-spacing: -0.31em;
  word-spacing: -0.43em; }

.pagination > li {
  display: inline-block;
  padding: 12PX;
  letter-spacing: normal;
  word-spacing: normal; }

.pagination > li > a {
  padding: 12PX;
  margin: -12px; }

.pagination--first a:before {
  content: "\00AB" "\00A0"; }

.pagination--last a:after {
  content: "\00A0" "\00BB"; }

input[type=checkbox].css-checkbox {
  display: none; }

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 25px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer; }

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -20px; }

label.css-label {
  background-image: url("../../images/checkbox_nuevo.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*------------------------------------*\
    $SITIO
\*------------------------------------*/
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  background: white;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f0f7e3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  background-image: url("../../images/fondo_body_papel.png");
  font-family: "lato";
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  color: #262626; }

li {
  list-style: none; }

p {
  font-weight: lighter; }

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.flex {
  display: flex; }

.uno {
  width: 100%; }

.dos {
  width: 50%; }

.tres {
  width: 33.333333%; }

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.zona-cliente {
  background-color: #3a2316; }
  .zona-cliente ul {
    margin: 0px;
    display: flex;
    align-content: center;
    padding: 0; }
    @media only screen and (min-width: 50em) {
      .zona-cliente ul {
        width: 550px;
        float: right; } }
  .zona-cliente .grupo_uno {
    width: 80%; }
    .zona-cliente .grupo_uno li {
      float: left;
      width: 50%; }
  .zona-cliente .grupo_dos {
    width: 20%; }
    .zona-cliente .grupo_dos li {
      float: left;
      width: 50%; }
  .zona-cliente .tucesta__link:before {
    content: url(../images/cesta.svg);
    width: 15px;
    display: inline-block;
    margin-right: 5px; }
  .zona-cliente .tucesta__link:hover:before {
    content: url(../images/cesta_bn.svg); }
  .zona-cliente a {
    font-family: "lato";
    display: block;
    padding: 1em 0;
    text-decoration: none;
    text-align: center;
    color: white;
    text-transform: uppercase;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    font-size: 11px;
    font-size: 0.6875rem;
    border-left: 1px solid white; }
    .zona-cliente a:hover {
      background-color: #ffefa3;
      color: #3a2316; }
  .zona-cliente .grupo_uno li:first-of-type a {
    border-left: none; }
    @media only screen and (min-width: 50em) {
      .zona-cliente .grupo_uno li:first-of-type a {
        border-left: 1px solid white; } }
  @media only screen and (min-width: 50em) {
    .zona-cliente .grupo_dos li:last-of-type a {
      border-right: 1px solid white; } }

.menu-principal {
  background-image: url("../images/Melamine-wood-004.png");
  border-top: 1px solid white; }
  .menu-principal .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 1em; }
    @media only screen and (min-width: 37.5em) {
      .menu-principal .nav {
        justify-content: center;
        align-items: center;
        margin-bottom: 1em; } }
    @media only screen and (min-width: 50em) {
      .menu-principal .nav {
        justify-content: flex-end;
        margin: 1em 0; } }
    .menu-principal .nav li {
      width: 100%;
      display: flex;
      justify-content: center; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav li {
          width: auto; } }
    .menu-principal .nav ul {
      padding: 0;
      margin: 0; }
    .menu-principal .nav .iconos {
      margin-top: 1em; }
      .menu-principal .nav .iconos a {
        float: left; }
        .menu-principal .nav .iconos a:hover {
          -webkit-opacity: 0.5;
          -moz-opacity: 0.5;
          opacity: 0.5;
          background: none; }
      .menu-principal .nav .iconos img {
        height: 30px; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav .iconos {
          margin-top: 0; }
          .menu-principal .nav .iconos #icono-tel, .menu-principal .nav .iconos #icono-sobre {
            display: none !important;
            visibility: hidden; } }
    .menu-principal .nav .nav_direcciones {
      margin: 0 auto; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav .nav_direcciones {
          margin: 0; } }
    .menu-principal .nav .direccion {
      color: white;
      max-width: 50%;
      text-align: center;
      margin: 0 auto; }
      @media only screen and (min-width: 37.5em) {
        .menu-principal .nav .direccion {
          display: none !important;
          visibility: hidden; } }
  .menu-principal a {
    color: white;
    padding: 5px 12px;
    display: block;
    text-decoration: none;
    width: 100%;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
    .menu-principal a:hover {
      background-color: #ffefa3;
      color: #3a2316; }

.cabecera_pagina .logo_principal {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 50em) {
    .cabecera_pagina .logo_principal {
      justify-content: flex-start;
      position: absolute; } }
.cabecera_pagina .logo_principal a {
  padding: 0;
  width: 150px; }
  @media only screen and (min-width: 50em) {
    .cabecera_pagina .logo_principal a {
      width: 138px; } }
  .cabecera_pagina .logo_principal a:hover {
    background: transparent; }

/*------------------------------------*\
    $cabecera inicio
\*------------------------------------*/
.cabecera_inicio {
  background: url(../images/fondo_cabecera_inicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center; }

.cabecera_texto {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
  border: 2px solid white;
  background-color: #954814;
  color: white;
  text-align: center; }
  .cabecera_texto h2 {
    margin-bottom: 0; }
  .cabecera_texto h3 {
    font-weight: 300;
    font-style: italic;
    line-height: 35px; }

/*------------------------------------*\
    $resto pagina
\*------------------------------------*/
.destacados, .ultimas-noticias {
  display: flex;
  flex-wrap: wrap; }

.titular-seccion {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 2em auto; }
  .titular-seccion h3 {
    margin: 0;
    color: #954814; }
  .titular-seccion h3:after {
    content: "";
    display: block;
    border-top: solid 1px #d6d6e0;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 1; }
  .titular-seccion h3 span {
    font-family: "Aleo";
    background-color: #ffefa3;
    margin: 0;
    padding: 0 1em;
    display: inline-block;
    position: relative;
    z-index: 5;
    font-weight: 400; }

.producto-destacado, .ultimanoti {
  margin-bottom: 2em;
  text-align: center;
  width: 100%; }
  @media only screen and (min-width: 37.5em) {
    .producto-destacado, .ultimanoti {
      width: 50%; } }
  @media only screen and (min-width: 50em) {
    .producto-destacado, .ultimanoti {
      width: 33.333333%;
      margin-bottom: 0;
      padding-bottom: 0; } }
  .producto-destacado a, .ultimanoti a {
    text-decoration: none; }
  .producto-destacado img, .ultimanoti img {
    margin-bottom: 0.5em; }
  .producto-destacado p, .ultimanoti p {
    max-width: 280px;
    margin: 0 auto; }
  .producto-destacado h3, .ultimanoti h3 {
    color: #954814; }
  .producto-destacado:hover, .ultimanoti:hover {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5; }

.ultimas-noticias {
  margin-bottom: 6em; }

@media only screen and (min-width: 37.5em) {
  .ultimanoti {
    padding-left: 3em;
    width: 100%;
    margin-bottom: 2em; }
    .ultimanoti img {
      float: left;
      margin-right: 2em; }
    .ultimanoti h3, .ultimanoti p {
      text-align: left;
      max-width: none; } }
@media only screen and (min-width: 62.5em) {
  .ultimanoti {
    width: 50%; }
    .ultimanoti img {
      width: 50%; }
    .ultimanoti .texto-desta {
      display: table; } }

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
  background-color: #ffefa3;
  overflow: hidden;
  width: 100%; }

.footer_conte {
  display: flex;
  flex-direction: column; }
  .footer_conte article[class*="footer"] {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    padding: 2em; }
    .footer_conte article[class*="footer"] p {
      font-size: 13px;
      font-size: 0.8125rem;
      text-align: left;
      max-width: 150px; }

.footer_horario img {
  height: 90px; }
.footer_horario p {
  margin: 0; }

.footer_menu ul {
  margin: 0;
  padding: 0;
  display: inline-table; }
.footer_menu a {
  float: left;
  width: 30px;
  margin: 0 0.7em; }
  .footer_menu a:hover {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5; }

/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
.alert {
  margin-bottom: 1.5em;
  padding: 8px 35px 8px 14px;
  background-color: #fce4cf;
  border: 1px solid #f6ae6f;
  font-family: "lato";
  font-size: 14px;
  font-size: 0.875rem;
  color: #904809;
  border-radius: 2px; }
  .alert .alert--heading {
    color: inherit; }
  .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    float: right;
    font-size: 21px;
    font-size: 1.3125rem;
    font-weight: bold;
    line-height: 18px;
    color: inherit; }

.alert--success {
  background-color: #c5e6c5;
  border-color: #a2d6a2;
  color: #347834; }

.alert--warning {
  background-color: #f4cac8;
  border-color: #eba19e;
  color: #9d2520; }

.alert--error {
  background-color: #f4cac8;
  border-color: #eba19e;
  color: #da4f49; }

.alert--info {
  background-color: #cbebec;
  border-color: #7fcfd2;
  color: #236062; }

.alert--inverse {
  background-color: #242786;
  border-color: black;
  color: white; }

.alert--block {
  padding-top: 14px;
  padding-bottom: 14px; }
  .alert--block .alert--heading {
    margin-bottom: 0.1875em;
    font-size: inherit;
    font-weight: bold; }
  .alert--block > p,
  .alert--block > ul {
    margin-bottom: 0; }
  .alert--block p + p {
    margin-top: 5px; }

.badge {
  padding: 1px 9px 2px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 2px;
  color: #262626;
  background-color: #344814;
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear; }
  .badge:hover {
    color: #262626;
    text-decoration: none;
    cursor: pointer; }

.badge--error {
  background-color: #da4f49; }
  .badge--error:hover {
    background-color: #9d2520; }

.badge--warning {
  background-color: #da4f49; }
  .badge--warning:hover {
    background-color: #9d2520; }

.badge--success {
  background-color: #a5dddf; }
  .badge--success:hover {
    background-color: #5ac1c4; }

.badge--info {
  background-color: #a5dddf;
  color: #236062; }
  .badge--info:hover {
    background-color: #5ac1c4; }

.badge--inverse {
  background-color: #a5dddf;
  color: white; }
  .badge--inverse:hover {
    background-color: #5ac1c4;
    color: white; }

.well {
  min-height: 21px;
  padding: 11px;
  border-radius: 2px;
  margin-bottom: 1.5em;
  background-color: #f0f7e3;
  border: 1px solid #c3e193;
  -webkit-box-shadow: inset 0 1px 10px #d9ecbb;
  box-shadow: inset 0 1px 10px #d9ecbb; }
  .well p:last-child {
    margin-bottom: 0; }

.well--large {
  padding: 22px; }

.well--small {
  padding: 6px; }

::-moz-selection {
  background-color: #d9ecbb;
  color: #344814;
  text-shadow: none; }

::selection {
  background-color: #d9ecbb;
  color: #344814;
  text-shadow: none; }

/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /*------------------------------------*\
      $2x
  \*------------------------------------*/
  /*
   * Breakpoint para dispositivos retina
   */ }
/*------------------------------------*\
    $PATRONES
\*------------------------------------*/
/**
 * ESTE ARCHIVO ES USADO SÓLO  POR LA GUÍA DE PATRONES
 * en /patrones/index.html y /patrones/page.html
 * es recomendable eliminar su inclusión en el style.less
 * a la hora de compilar el CSS de la web.
 */
[role="banner"] {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  width: 100%;
  background-color: #dbd879;
  text-align: center;
  margin-bottom: 1.5em; }
  [role="banner"] h1, [role="banner"] .cabecera_texto h2, .cabecera_texto [role="banner"] h2 {
    color: white; }

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  width: 100%; }

section {
  width: 100%;
  margin-bottom: 3em;
  background-color: white;
  padding: 3em 24px 1.5em;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
  position: relative; }
  section h2.title {
    background-color: #dbd879;
    text-transform: uppercase;
    font-weight: bold;
    color: #242786;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.375em;
    font-size: 18px;
    font-size: 1.125rem; }
    section h2.title small {
      color: black;
      font-weight: bold; }
  section .title {
    color: #242786; }

.altfont {
  font-family: Georgia, Times, "Times New Roman"; }

.basefont::after {
  content: "lato"; }

.altfont::after {
  content: 'Georgia, Times, "Times New Roman"'; }

.code::after {
  content: '"Courier New", monospace'; }

.swatch {
  margin: 1%;
  padding: 1em;
  width: 31.333%;
  border: 1px solid #e6e6e6;
  float: left; }

.swatch-row {
  display: block;
  margin: 0;
  padding: 0; }

.swatch-row span {
  display: block;
  float: left;
  width: 100%;
  height: 100px; }

.swatch-base span:nth-child(1) {
  background-color: #344814; }
.swatch-base small::after {
  content: "#344814";
  color: #344814;
  display: block; }

.swatch-base_1 span:nth-child(1) {
  background-color: #954814; }
.swatch-base_1 small::after {
  content: "#954814";
  color: #954814;
  display: block; }

.swatch-base_2 span:nth-child(1) {
  background-color: #c65d17; }
.swatch-base_2 small::after {
  content: "#c65d17";
  color: #c65d17;
  display: block; }

.swatch-base_osc span:nth-child(1) {
  background-color: #3a2316; }
.swatch-base_osc small::after {
  content: "#3a2316";
  color: #3a2316;
  display: block; }

.swatch-claro_1 span:nth-child(1) {
  background-color: #ffefa3; }
.swatch-claro_1 small::after {
  content: "#ffefa3";
  color: #ffefa3;
  display: block; }

.swatch-claro_2 span:nth-child(1) {
  background-color: #fef7d1; }
.swatch-claro_2 small::after {
  content: "#fef7d1";
  color: #fef7d1;
  display: block; }

.swatch-negro span:nth-child(1) {
  background-color: #262626; }
.swatch-negro small::after {
  content: "#262626";
  color: #262626;
  display: block; }

.swatch-compcolor span:nth-child(1) {
  background-color: #d8f0e3; }
.swatch-compcolor small::after {
  content: " #d8f0e3";
  color: #d8f0e3;
  display: block; }

.swatch-alert span:nth-child(1) {
  background-color: #fce4cf; }
.swatch-alert small::after {
  content: "#fce4cf";
  color: #fce4cf;
  display: block; }

.swatch-error span:nth-child(1) {
  background-color: #fce4cf; }
.swatch-error small::after {
  content: "#fce4cf";
  color: #fce4cf;
  display: block; }

.swatch-info span:nth-child(1) {
  background-color: #a5dddf; }
.swatch-info small::after {
  content: "#a5dddf";
  color: #a5dddf;
  display: block; }

.swatch-success span:nth-child(1) {
  background-color: #5bb75b; }
.swatch-success small::after {
  content: "#5bb75b";
  color: #5bb75b;
  display: block; }

.swatch-warning span:nth-child(1) {
  background-color: #da4f49; }
.swatch-warning small::after {
  content: "#da4f49";
  color: #da4f49;
  display: block; }

.caja-animacion, .hover {
  width: 100%;
  padding: 1em;
  background-color: #bfbfbf;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 1em;
  border-radius: 2px; }
  .caja-animacion .cursor, .hover .cursor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    background-color: gray;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
  .caja-animacion:hover .cursor, .hover:hover .cursor {
    left: 100%;
    margin-left: -20px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }

.hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .hover:hover {
    background-color: #344814; }
  .hover strong::after {
    content: ": 0.3s";
    font-weight: normal; }

.transition::after {
  content: ": 0.8s";
  font-weight: normal; }

figure {
  width: 20%;
  float: left;
  margin-right: 5%; }
