.titular{
	text-align: center;
	padding: 3em 0;
	h1{
		text-transform: uppercase;
		margin-bottom:5px;
		font-weight: lighter;
	}
	h2{
		@include font-size(18);
		font-weight: lighter;
	}
}

.productos a{
    font-family: $baseheadingfont;
}
.descripcion-producto{
  text-align: center;
  font-weight: lighter;
  margin-bottom: 1em;
  text-align: left;
}
ul[class*="items"]{
  padding: 0;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  text-align: left;
  .item{
    width: 100%;
    padding: 0.5em 0;
    margin-bottom: 1em;
      @media only screen and (min-width : $bp1){
        width: 50%;
      }
      @media only screen and (min-width : $bp2){
        width: 33.333333%;
      }
      @media only screen and (min-width : $bp3){
        width: 25%;
      }
  }
}



#horizontalTab{
  padding: 0 1em 2em 1em;
  div[id*="tab-"]{
    max-width: 780px;
    margin: 0 auto;
    padding: 2em;
    border:1px solid rgba(52, 72, 20, 0.2);
    h5{
      line-height: 1.3em;
    }
  }

  input[type=checkbox].css-checkbox {
        position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
      }
  input[type=checkbox].css-checkbox + label.css-label {
    padding-left:29px;
    height:20px; 
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
    text-transform: uppercase;
    font-weight: lighter;
  }
  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -20px;
  }
  label.css-label {
    background-image:url("../../images/checkbox02.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .descripcion-producto{
    font-weight: 400;
    span{
      padding: 3px 8px;
      background-color: $basecolor;
      color:white;
      margin-right: 5px;
      @include border-radius(25px,25px,25px,25px);
    }
  }
  button{
    margin-top:1em;
  }
}

.mostrar_productos .titular{
  p{
    margin-bottom: 0;
    padding: 0;
    @include font-size(18);
  }
}
.productos_zona{
  display: flex;
  flex-wrap:wrap;
  flex-position:center;
  justify-content:center;
  .prod{
    max-width: 240px;
    text-align: center;
    padding: 0 10px;
    @include transition(0.1s);
    &:hover{
      @include opacity(0.5);
    }
    img{
      border:1px solid $grisclaro;
    }
  }
  .prod_text{
    background-color: $grisclaro;
    padding: 0.3em;
  }
}