




/*------------------------------------*\
    $SITIO
\*------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
	background : $background;
	font-size : 100%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

body {
	margin : 0;
	padding : 0;
	width : 100%;
	background-color : transparent;
	background-image: url('../../images/fondo_body_papel.png');
	font-family : $basefont;
	@include font-size();
	line-height : $baselineheight;
	color : $textcolor;
}

li{
	list-style: none;
}

p{
	font-weight: lighter;
}
.contenedor{
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.flex{
	display: flex;
}
.uno{
	width: 100%;
}
.dos{
	width: 50%;
}
.tres{
	width: 33.333333%;
}
/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.zona-cliente{
	background-color: $basecolor_osc;
	

	ul{
		margin: 0px;
		display: flex;
		align-content:center;
		padding:0;
		@media only screen and (min-width: $bp3) {
			width: 550px;
			float: right;
		}
	}
	.grupo_uno{
		width: 80%;
		li{
			float: left;
			width: 50%;
		}
	}

	.grupo_dos{
		width: 20%;
		li{
			float: left;
			width: 50%;
		}
	}
	.tucesta__link{
		&:before{
			content: url(../images/cesta.svg);
			width: 15px;
			display: inline-block;
			margin-right: 5px;
		}
		&:hover:before{
			content: url(../images/cesta_bn.svg);
		
		}
	}
	a{
		font-family: 'lato' ;
		display: block;
		padding:1em 0;
		text-decoration: none;
		text-align: center;
		color:$blanco;
		text-transform: uppercase;
		@include transition(0.1s);
		@include font-size(11);
		border-left: 1px solid $blanco;
		&:hover{
			background-color:$claro_1;
			color:$basecolor_osc;
		}
	}
	.grupo_uno li:first-of-type a{
		border-left: none;
		@media only screen and (min-width: $bp3) {
			border-left: 1px solid white;
		}
	}
	.grupo_dos li:last-of-type a{
		@media only screen and (min-width: $bp3) {
			border-right: 1px solid white;
		}
		
	}

}


.menu-principal{
	background-image: url('../images/Melamine-wood-004.png');
	border-top: 1px solid white;


	.nav{
		display:flex;
		flex-direction:row;
		flex-wrap:  wrap;
		margin:0;
		padding:0;
		text-align: center;
		margin-top: 1em;
		@media only screen and (min-width: $bp2) {
			justify-content:center;
			align-items:center;
			margin-bottom: 1em;
		}
		@media only screen and (min-width: $bp3) {
			justify-content:flex-end;
			margin:1em 0;
		}
		li{
			width: 100%;
			@media only screen and (min-width: $bp2) {
				width: auto;
			}
			display: flex;
			justify-content:center;
		}
		ul{
			padding:0;
			margin: 0;
		}
		.iconos{
			margin-top:1em;
			a{
				float: left;
				&:hover{
					@include opacity(0.5);
					background: none;
				}
			}
			 img{
				height: 30px;
			}
			@media only screen and (min-width: $bp2) {
				margin-top:0;
				#icono-tel, #icono-sobre{
					display : none !important;
					visibility : hidden;
				}
			}
		}
		.nav_direcciones{
			margin:0 auto;
			@media only screen and (min-width: $bp2) {
				margin:0;
			}
		}
		.direccion{
			color:white;
			max-width: 50%;
			text-align: center;
			margin:0 auto;
			@media only screen and (min-width: $bp2) {
				display : none !important;
				visibility : hidden;
			}
		}
	}
	a{
		color:white;
		padding:5px 12px;
		display: block;
		text-decoration: none;
		width: 100%;
		@include transition(0.1s);
		&:hover{
			background-color:$claro_1;
			color:$basecolor_osc;
		}
	}
	
}

.cabecera_pagina{
	.logo_principal{
		margin: 0 auto;
		display: flex;
		align-items:center;
		justify-content:center;
		@media only screen and (min-width: $bp3) {
			justify-content:flex-start;
			position: absolute;
		}
	}
	.logo_principal a{
		padding: 0;
		width: 150px;
		@media only screen and (min-width: $bp3) {
			width: 138px;
		}
		&:hover{
			background:transparent;
		}
	}
}


/*------------------------------------*\
    $cabecera inicio
\*------------------------------------*/

.cabecera_inicio{
	background: url(../images/fondo_cabecera_inicio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	@include centrar-flex;

}
.cabecera_texto{
	width: 90%;
	max-width: 400px;
	margin:0 auto;
	padding:2em;
	border:2px solid white;
	background-color: $basecolor_1 ;
	color:white;
	text-align: center;
	h2{
		@extend h1;
		margin-bottom: 0;
	}
	h3{
		font-weight: 300;
		font-style: italic;
		line-height: 35px;

	}

}



/*------------------------------------*\
    $resto pagina
\*------------------------------------*/

.destacados, .ultimas-noticias{
	display: flex;
	flex-wrap: wrap;
}

.titular-seccion{
	display: flex;
	justify-content: center;
	position: relative;
	margin:2em auto;
	h3{
		margin:0;
		color:$basecolor_1 ;
	}
	h3:after {
		content: "";
		display: block;
		border-top: solid 1px #d6d6e0 ;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 50%;
		left: 0px;
		z-index: 1;
	}
	h3 span{
		font-family: $baseheadingfont;
		background-color: $claro_1;
		margin:0;
		padding: 0 1em;
		display: inline-block;
		position: relative;
		z-index: 5;
		font-weight: 400
	}

}

.producto-destacado, .ultimanoti{
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
	@media only screen and (min-width: $bp2){ 
		width: 50%;
	}
	@media only screen and (min-width : $bp3){
		width: 33.333333%;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	a{
		text-decoration: none;
	}
	img{
		margin-bottom: 0.5em;
	}
	p{
		max-width: 280px;
		margin: 0 auto;
	}
	h3{
		color:$basecolor_1;
	}
	&:hover{
		@include opacity(.5);
	}
}
.ultimas-noticias{
	margin-bottom: 6em;
}

.ultimanoti{
	@media only screen and (min-width: $bp2){ 
		padding-left: 3em;
		width: 100%;
		margin-bottom: 2em;
		img{
			float: left;
			margin-right: 2em;
		}
		h3,p{
			text-align: left;
			max-width: none;
		}
	}	
	@media only screen and (min-width : $bp5){
		width: 50%;
		img{
			width: 50%;
		}
		.texto-desta{
			display: table;
		}
	}

}


/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer{
	background-color: $claro_1;
	overflow: hidden;
	width: 100%;
}
.footer_conte{
	display: flex;
	flex-direction:column;
	article[class*="footer"]{
		width: 100%;
		border: 1px solid black;
		text-align: center;
		padding:2em;
		p{
			@include font-size(13);
			text-align: left;
			max-width: 150px;
		}
	}
}
	.footer_horario{
		img{
			height: 90px;
		}
		p{
			margin: 0;
		}
	}
	.footer_menu{
		ul{
			margin:0;
			padding:0;
			display: inline-table;
		}
		a {
			float:left;
			width: 30px;
			margin:0 0.7em;
			&:hover{
				@include opacity(0.5);
			}
		}

	}