




/*------------------------------------*\
    $SITIO
\*------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
	background : $background;
	font-size : 100%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

body {
	margin : 0;
	padding : 0;
	width : 100%;
	background-color : transparent;
	background-image: url('../images/fondo_body_papel.png');
	font-family : $basefont;
	@include font-size();
	line-height : $baselineheight;
	color : $textcolor;
}

li{
	list-style: none;
}

p{
	font-weight: lighter;
}
.contenedor-big{
	max-width: 1040px;
	margin: 0 auto;
	overflow: hidden;
}
.contenedor{
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.contenedor-2{
    max-width: 780px;
    margin:0 auto !important;
}
.contenedor-3{
    max-width: 900px;
    margin:0 auto !important;
}

.flex{
	display: flex;
}
.uno{
	width: 100%;
}
.dos{
	width: 50%;
}
.tres{
	width: 33.333333%;
}
.centro{
	display: table;
	margin:0 auto;
}


/*------------------------------------*\
    $botones	
\*------------------------------------*/

.btn{
	background-color: $basecolor_2;
	color:white;
	font-family: $baseheadingfont;
	font-weight: lighter;
	line-height: 1em;
	letter-spacing: 0.5px;
	@include font-size(18);
	border:2px solid black;
	cursor: pointer;
	padding: 5px 1.5em;
	&:hover{
		@include opacity();
	}
}

.btn-nara{
	background-color: $tempe;
	color:black;
}
.btn-pq{
	@include font-size(14);
}

/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.activo{
	background-color:$claro_1;
	color:$basecolor_osc !important;
}

.zona-cliente{
	background-color: $basecolor_osc;
	

	ul{
		margin: 0px;
		display: flex;
		align-content:center;
		padding:0;
		@media only screen and (min-width: $bp3) {
			width: 550px;
			float: right;
		}
	}
	.grupo_uno{
		width: 80%;
		li{
			float: left;
			width: 50%;
		}
	}

	.grupo_dos{
		width: 20%;
		li{
			float: left;
			width: 50%;
		}
	}
	.tucesta__link{
		&:before{
			content: url(../images/cesta.svg);
			width: 15px;
			display: inline-block;
			margin-right: 5px;
		}
		&:hover:before{
			content: url(../images/cesta_bn.svg);
		
		}
	}
	a{
		font-family: 'lato' ;
		display: block;
		padding:1em 0;
		text-decoration: none;
		text-align: center;
		color:$blanco;
		text-transform: uppercase;
		@include transition(0.1s);
		@include font-size(11);
		border-left: 1px solid $claro_3;
		&:hover{
			background-color:$claro_1;
			color:$basecolor_osc;
		}
	}
	.grupo_uno li:first-of-type a{
		border-left: none;
		@media only screen and (min-width: $bp3) {
			border-left: 1px solid $claro_3;
		}
	}
	.grupo_dos li:last-of-type a{
		@media only screen and (min-width: $bp3) {
			border-right: 1px solid $claro_3;
		}
		
	}

}


.menu-principal{
	background-image: url('../images/Melamine-wood-004.png');
	border-top: 1px solid $claro_3;


	.nav{
		display:flex;
		flex-direction:row;
		flex-wrap:  wrap;
		margin:0;
		padding:0;
		text-align: center;
		margin-top: 1em;
		@media only screen and (min-width: $bp2) {
			justify-content:center;
			align-items:center;
			margin-bottom: 1em;
		}
		@media only screen and (min-width: $bp3) {
			justify-content:flex-end;
			margin:1em 0;
		}
		li{
			width: 100%;
			@media only screen and (min-width: $bp2) {
				width: auto;
			}
			display: flex;
			justify-content:center;
		}
		ul{
			padding:0;
			margin: 0;
		}
		.iconos{
			margin-top:1em;
			a{
				float: left;
				&:hover{
					@include opacity(0.5);
					background: none;
				}
			}
			 img{
				height: 30px;
			}
			@media only screen and (min-width: $bp2) {
				margin-top:0;
				#icono-tel, #icono-sobre{
					display : none !important;
					visibility : hidden;
				}
			}
		}
		.nav_direcciones{
			margin:0 auto;
			@media only screen and (min-width: $bp2) {
				margin:0;
			}
		}
		.direccion{
			color:white;
			max-width: 50%;
			text-align: center;
			font-weight: lighter;
			margin:0 auto;
			a{
				text-decoration: underline;
				font-weight: lighter;
				&:hover{
					background: none;
					color:white;
					@include opacity(0.5);
				}
			}
			@media only screen and (min-width: $bp2) {
				display : none !important;
				visibility : hidden;
			}
		}
	}
	a{
		color:white;
		padding:5px 12px;
		display: block;
		text-decoration: none;
		width: 100%;
		@include transition(0.1s);
		&:hover{
			background-color:$claro_1;
			color:$basecolor_osc;
		}
	}
	
}

.cabecera_pagina{
	.logo_principal{
		margin: 0 auto;
		display: flex;
		align-items:center;
		justify-content:center;
		@media only screen and (min-width: $bp3) {
			justify-content:flex-start;
			position: absolute;
		}
	}
	.logo_principal a{
		padding: 0;
		width: 150px;
		@media only screen and (min-width: $bp3) {
			width: 138px;
		}
		&:hover{
			background:transparent;
		}
	}
}


/*------------------------------------*\
    $cabecera inicio
\*------------------------------------*/

.cabecera_inicio{
	background: url(../images/fondo_cabecera_inicio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	@include centrar-flex;

}
.cabecera_latienda{
	background: url(../images/fondo-latienda.jpg) no-repeat;
	background-repeat: no-repeat;
	height: 300px;
	@include centrar-flex;
	.cabecera_texto{
		padding:2em 4em;
		width: inherit;
		margin-bottom: 0;
	}
}

.cabecera_texto{
	width: 90%;
	max-width: 400px;
	margin:0 auto;
	margin-bottom: 0;
	padding:2em;
	border:2px solid white;
	background-color: $basecolor_1 ;
	color:white;
	text-align: center;
	opacity: 0.9;
	h1{
		margin-bottom: 0;
	}
	h3{
		font-weight: 300;
		font-style: italic;
		line-height: 35px;

	}

}



/*------------------------------------*\
    $resto pagina
\*------------------------------------*/

.destacados, .ultimas-noticias{
	display: flex;
	flex-wrap: wrap;
}

.titular-seccion{
	display: flex;
	justify-content: center;
	position: relative;
	margin:2em auto;

}
.titular-destacado{
	margin:0;
	color:$basecolor_1 ;
}
.titular-destacado:after {
	content: "";
	display: block;
	border-top: solid 1px #d6d6e0 ;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 0px;
	z-index: 1;
}
.titular-destacado span{
	font-family: $baseheadingfont;
	font-weight: 300;
	background-color: $claro_1;
	margin:0;
	padding: 0.2em 1em;
	display: inline-block;
	position: relative;
	z-index: 5;
}

.producto-destacado, .ultimanoti{
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
	@media only screen and (min-width: $bp2){ 
		width: 50%;
	}
	@media only screen and (min-width : $bp3){
		width: 33.333333%;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	a{
		text-decoration: none;
	}
	img{
		margin-bottom: 0.5em;
	}
	p{
		max-width: 280px;
		margin: 0 auto;
	}
	h3{
		color:$basecolor_1;
	}
	&:hover{
		@include opacity(.5);
	}
}
.ultimas-noticias{
	margin-bottom: 6em;
}

.ultimanoti{
	@media only screen and (min-width: $bp2){ 
		padding-left: 1em;
		width: 100%;
		margin-bottom: 2em;
		img{
			float: left;
			margin-right: 2em;
		}
		h3,p{
			text-align: left;
			max-width: none;
		}
	}	
	@media only screen and (min-width : $bp5){
		width: 50%;
		img{
			width: 50%;
		}
		.texto-desta{
			display: table;
		}
	}

}


/*------------------------------------*\
	$CONTACTO
\*------------------------------------*/
.contacto{
}
.form-contacto{
	padding:1em;
	margin-bottom: 2em;
}

/*------------------------------------*\
	$AVISOS
\*------------------------------------*/

.avisos{
	background: $basecolor_1;
	color: white;
	padding:2em 4em;
	text-align: center;
	font-family: $baseheadingfont;
	@include font-size(14);
	border:1em solid $basecolor_1;
	box-shadow: 0 0 0 1px $claro_1 inset;
	position: relative;
	p{
		margin-bottom: 0;
	}
	.aviso{
		font-family: $baseheadingfont ;
	}
	.avisos-borrar{
		position: absolute;
		width: 20px;
		height: 20px;
		top:10px;
		right: 12px;
	}
}

/*------------------------------------*\
	404
\*------------------------------------*/

.error404{
	text-align: center;
	margin:5em 0;
	h1{
		@include font-size(60);
		line-height: 0.5em;
	}
	a{
		text-decoration: underline;
	}
	
	@media only screen and (min-width : $bp2){
		img{
			max-width: 500px;
		}
	}
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer{
	background-color: $claro_1;
	overflow: hidden;
	width: 100%;
}
.footer_conte{
	display: flex;
	flex-direction:column;
		@media only screen and (min-width : $bp3){
			flex-direction:row;
		}
	article[class*="footer"]{
		width: 100%;
		text-align: center;
		padding:2em;
			@media only screen and (min-width : $bp3){
				padding-bottom: 1em;
			}
		p, .footer-direcc {
			@include font-size(13);
			text-align: center;
			// max-width: 150px;
			margin: 0 auto;
			font-weight: lighter;
		}
		.footer-direcc{
			text-decoration: underline;
		}
		img{
			height: 90px;
			margin-bottom: 1em;
		}
	}
}
	.footer_menu{
		.iconos {
			display: inline-block;
			img{
				height: 30px !important;
				margin-bottom: 0 !important;
			}
			a {
				float:left;
				width: 30px;
				margin:0 7px;
				&:hover{
					@include opacity(0.5);
				}
			}
		}
		.menu{
			text-align: center;
			padding-left: 0px;
			a{
				@include font-size(13);
				font-weight: lighter;
				line-height: 2.5em;
			}
		}
	}
.footer-legales{
	p{
			@include font-size(13);
			text-align: center;
			margin: 0 auto;
		}
		margin-bottom: 2em;
}


