.productos{
    text-align: center;
}

.r-tabs-anchor{
    color:white;
    padding:10px 3em;
    background-color:#DBDFD7;
    display: block;
    text-align: center;
    font-family: $baseheadingfont;
    border-bottom:1px solid white;
        @media only screen and (min-width : $bp2){
            border: 0;
        }
}

.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
    background: white;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
    
}
.r-tabs-state-active .r-tabs-anchor{
    background-color: $basecolor;
    color:white;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}